* {
	box-sizing: border-box;
}

body {
	background-color: #f9f9fa;
}

h1, .h1 {
    font-size: 36px;
    text-align: center;
    color: white;
}

h1 small {
	font-size: 60%;
	color: #b0e3ff;
}

h6 small {
	font-size: 85%;
	font-weight: bold;
	color: #b0e3ff;
}

.h6, h6 {
	font-weight: normal;
	color: #fff;
    display: inline;
}

.container-fluid {
	background-color: #00a6ff;
}

.navbar-inverse {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
    background-color: #00a6ff;
    border-color: #00a6ff;
}

.navbar-inverse .navbar-brand {
    color: #fff;
    padding-top: 20px;
}

.navbar-inverse .navbar-nav li a {
    color: #fff;
    padding-top: 20px;
}

.navbar-inverse .navbar-toggle {
    border-color: #fff;
}

.navbar-inverse .navbar-toggle:focus, 
.navbar-inverse .navbar-toggle:hover {
    background-color: #0096e6;
}

.navbar-inverse .navbar-collapse, 
.navbar-inverse .navbar-form {
    border-color: #b0e3ff;
}

.container .list-inline {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 25px;
	color: #fff;
	text-align: center;
}

.tagline {
	margin-top: 10px;
}

.icons {
	font-size: 25px;
	margin-top: 10px;
	float: right;
}

.icons a {
	color: #fff;
}

.left,
.center,
.right {
	margin: 20px auto;
}

.blurb {
	font-size: 18px;
	line-height: 36px;
}

/* Alert Section. To be removed after site is complete */
.alert {
	color: #00a6ff;
	font-weight: bold;
	animation: blinker 1.5s linear infinite;
}

@keyframes blinker {  
  50% { opacity: 0; }
}
/* End Alert Section */

.thumbnail {
	max-height: 300px;
	border-radius: 50%;
	border: transparent;
	margin-left: auto;
	margin-right: auto;
}

.btn-default {
    color: #fff;
    background-color: #00a6ff;
    border-color: #b0e3ff;
}

.btn-default:hover {
    color: #fff;
    background-color: #0096e6;
    border-color: #b0e3ff;
}

#button {
	width: 170px;
	margin-left: auto;
	margin-right: auto;
}

#button button:focus {
    outline: none;
}