* {
	box-sizing: border-box;
}

body {
	background-color: #f9f9fa;
}

h1, .h1 {
    font-size: 36px;
    text-align: center;
    color: #00a6ff;
}

h1 small {
	font-size: 60%;
	color: #00a6ff;
}

h3, .sample-link {
	text-align: center;
    color: #00a6ff;	
}

h6 small {
	font-size: 85%;
	font-weight: bold;
	color: #b0e3ff;
}

h6, .h6 {
	font-weight: normal;
	color: #fff;
    display: inline;
}

.container-fluid {
	background-color: #00a6ff;
}

.navbar-inverse {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
    background-color: #00a6ff;
    border-color: #00a6ff;
}

.navbar-inverse .navbar-brand {
    color: #fff;
    padding-top: 20px;
}

.navbar-inverse .navbar-nav li a {
    color: #fff;
    padding-top: 20px;
}

.navbar-inverse .navbar-toggle {
    border-color: #fff;
}

.navbar-inverse .navbar-toggle:focus, 
.navbar-inverse .navbar-toggle:hover {
    background-color: #0096e6;
}

.navbar-inverse .navbar-collapse, 
.navbar-inverse .navbar-form {
    border-color: #b0e3ff;
}

.tagline {
	margin-top: 10px;
}

.icons {
	font-size: 25px;
	margin-top: 10px;
	float: right;
}

.icons a {
	color: #fff;
}

.left,
.center,
.right {
	width: 380px;
	background-color: #fff;
	border-radius: 5px;
	margin: 15px 2px;
}

.thumbnail {
	border-radius: 5%;
	border: transparent;
	margin-left: auto;
	margin-right: auto;
}

.btn-default {
    color: #fff;
    background-color: #00a6ff;
    border-color: #b0e3ff;
}

.btn-default:hover {
    color: #fff;
    background-color: #0096e6;
    border-color: #b0e3ff;
}

#button {
	width: 170px;
	margin-left: auto;
	margin-right: auto;
}

#button button:focus {
    outline: none;
}