
* {
	box-sizing: border-box;
}

body {
	background-color: #f9f9fa;
	/*background-color: #00a6ff;*/
}

h1, .h1 {
    font-size: 36px;
    text-align: center;
    color: #00a6ff;
}

h1 small {
	font-size: 60%;
	color: #00a6ff;
}

h3, h4, .sample-link {
	text-align: center;
    color: #00a6ff;	
}

h6 small {
	font-size: 85%;
	font-weight: bold;
	color: #b0e3ff;
}

h6, .h6 {
	font-weight: normal;
	color: #fff;
    display: inline;
}

a {
	color: #00a6ff;
	text-decoration: none;
}

#temp {
	margin-top: 20px;
}

.container-fluid {
	background-color: #00a6ff;
}

.navbar-inverse {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
    background-color: #00a6ff;
    border-color: #00a6ff;
}

.navbar-inverse .navbar-brand {
    color: #fff;
    padding-top: 20px;
}

.navbar-inverse .navbar-nav li a {
    color: #fff;
    padding-top: 20px;
}

.navbar-inverse .navbar-toggle {
    border-color: #fff;
}

.navbar-inverse .navbar-toggle:focus, 
.navbar-inverse .navbar-toggle:hover {
    background-color: #0096e6;
}

.navbar-inverse .navbar-collapse, 
.navbar-inverse .navbar-form {
    border-color: #b0e3ff;
}

.tagline01 {
	margin-top: 10px;
}

.icons {
	font-size: 25px;
	margin-top: 30px;
	float: right;
}

.icons a {
	color: #fff;
}

.inner-shell {
	background-color: #fff;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16),
		    0 0 0 1px rgba(0,0,0,0.08);
	border-radius: 5px;
	margin-top: 25px;
	margin-bottom: 25px;
}

.inner-shell:hover {
	box-shadow: 1px 1px 2px 2px rgba(0,165,251,0.8);
}

.pane-profile-pic {
	float: left;
	margin-top: 15px;
	margin-right: 15px;
}

.pane-title, .sample-link {
	padding-top: 15px;
	padding-bottom: 15px;
}

.image-container {
	width: 85%;
	margin: 0 auto;
}

.thumbnail {
	border-radius: 10px;
	border: transparent;
	margin-left: auto;
	margin-right: auto;
}

.pane-blurb {
	font-size: 15px;
	padding: 0 15px 10px 15px;
}

.blue-highlight {
	color: #00a6ff;
}

.contact-button {
	width: 94px;
	margin: 0 auto 25px auto;
}

.ui.basic.blue.button, .ui.basic.blue.buttons .button {
    box-shadow: 0 0 0 2px #00a6ff inset!important;
    font-weight: 800!important;
}

.btn-default {
    color: #fff;
    background-color: #00a6ff;
    border-color: #b0e3ff;
}

.btn-default:hover {
    color: #fff;
    background-color: #0096e6;
    border-color: #b0e3ff;
}

#button {
	width: 170px;
	margin-left: auto;
	margin-right: auto;
}

#button button:focus {
    outline: none;
}

.left-pane {
	border-radius: 5px 5px 0 0;
	background-color: #00a6ff;
}

.title-text {
	color: #fff;
}

.short-summary {
	float: right;
	width: 200px;
	padding: 280px 10px 10px 10px;
	color: #fff;
	font-weight: bold;
	text-shadow: 1px 1px #000;
}

.sample-holder {
	border-bottom: 5px solid #00a6ff;
}

.sample {
	background-size: cover;
	background-position: center;
	height: 355px;
}

#sample01 {
	background-image: url("../../assets/img/beerApp.png");
	background-position: top left;
}

#sample02 {
	background-image: url("../../assets/img/visualBlog.png");
	background-position: top left;
}

#sample03 {
	background-image: url("../../assets/img/pataTap.png");
}

#sample04 {
	background-image: url("../../assets/img/taskList.png");
}

#sample05 {
	background-image: url("../../assets/img/colorGame.png");
}

#sample06 {
	background-image: url("../../assets/img/landingPage.png");
}

/*--------------------------------*/
/* Main and form styles */
	.parent {
		width: 420px;
		height: 325px;
		padding: 0 40px;
		margin: 0 auto;
	}

	.parent, .contact-form, .contact-form h1 {
		background-color: #f9f9fa;
	}

	.contact-form h1 {
		text-align: center;
		padding: 35px 0;
	}

	.contact-form fieldset {
		border: none;
	}

	.contact-form label {
		display: block;
		margin: 15px auto 5px auto;
	}

	.contact-form input {
	    width: 320px;
	    height: 40px;
	    padding: 10px;
	    border: 1px solid #00a6ff;
	    border-radius: 5px;
	    margin-left: 0;
	    font-size: 16px;
	}

	.contact-form button {
		display: block;
		width: 320px;
		height: 55px;
		padding: 15px;
		border: none;
		border-radius: 3px;
		margin: 10px auto 0 10px;
		background-color: #00a6ff;	
		color: #FFF;
		font-size: 18px;
	}

	.contact-form button:hover {
		opacity: 0.8;
	}

	.disclaimer {
		width: 400px;
		color: #262627;
		margin: 0 auto 10px auto;
	}
/* End main and form styles */

.headings {
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
}

.buttons {
	margin: 20px auto;
}

.buttons li {
	list-style-type: none;
	display: inline-block;
}

button {
	width: 100px;
	padding-top: 10px;
	padding-bottom: 10px;
	border: 3px solid;
	border-radius: 3px;
	margin: 0 5px;
	font-size: 14px;
	font-weight: bold;
}

p {
	padding: 5px 20px 0 20px;
}

.no_show {
	display: none;
}

.active {
	border: none;
	color: #fff;
	background-color: #00a6ff;
	text-transform: uppercase;
	text-decoration: underline;
	outline: none;
}

.inactive {
	border: none;
	color: #fff;
	background-color: #00a6ff;
}

/*Pop up windows styles for samples*/
/* The Modal (background) */
.open-samples {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.samples-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 70%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}